{%- liquid
  assign target = product.selected_or_first_available_variant

  if blank == priority
    assign priority = 'coupon-price'
  endif

  assign map_holiday = false

  if customer
    assign map_holiday = true
  else
    for collection in product.collections
      if collection.handle == '00-map-holiday'
        assign map_holiday = true
        break
      endif
    endfor
  endif
-%}

{% assign discount_type_text = '' %}
{% if 'none' != priority %}
  {% if 'price' != priority %}
    {% for collection in product.collections %}
      {% if collection.metafields.custom.coupon_discount.value %}
        {%- capture discount_type_text -%}
          <div class="discount-banner coupon">
            <span class="discount_text">
              <span class="discount-amount">{{ collection.metafields.custom.coupon_discount | times: 100 | money_without_trailing_zeros }}</span>
              <span class="discount-label">Coupon</span>
            </span>
          </div>
        {%- endcapture -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if 'coupon' != priority %}
    {% if '' == discount_type_text or 'price-coupon' == priority %}
      {% assign current_variant_price = target.price %}
      
      {%- assign map_price = target.metafields.custom.map_price -%}
      {%- if map_price != blank and map_price != null and map_holiday != true -%}
        {%- assign map_price_amount = map_price | split: '"amount":"' | last | split: '","currency_code' | first -%}
        {%- assign map_price_amount_in_cents = map_price_amount | times: 100 -%}
      {%- else -%}
        {%- assign map_price_amount_in_cents = null -%}
      {%- endif -%}

      {% assign compare_at_price = target.compare_at_price %}
      {% if map_price_amount_in_cents > compare_at_price %}
        {% assign current_variant_comp_price = map_price_amount_in_cents %}
      {% else %}
        {% assign current_variant_comp_price = compare_at_price %}
      {% endif %}

      {% assign current_variant_price_float = current_variant_price | times: 1.0 %}
      {% assign current_variant_comp_price_float = current_variant_comp_price | times: 1.0 %}
      {% assign discount_amount = current_variant_comp_price_float | minus: current_variant_price_float %}
      {% assign discount_fraction = discount_amount | divided_by: current_variant_comp_price_float %}
      {% assign discount_percentage = discount_fraction | times: 100 | round: 0 %}
      {%- capture discount_type_text -%}
      {% unless current_variant_comp_price == blank and product.variants.size < 2 %}
      <div class="discount-banner percentage {% if discount_percentage < 10 %}dp-1{% else %}dp-2{% endif %}">
        <span class="discount_text{% unless current_variant_comp_price > current_variant_price %} everyday-low-price{% endunless %}">
          <span class="discount-label">{% if current_variant_comp_price > current_variant_price %}Save {% endif %}</span>
          <span class="discount-amount">{% if current_variant_comp_price > current_variant_price %}{{ discount_percentage }}%{% else %}Everyday low price{% endif %}</span>
        </span>
      </div>
      {% endunless %}
      {%- endcapture -%}
    {% endif %}
  {% endif %}
{% endif %}

{{- discount_type_text -}}

{% if product.metafields.custom.additional_discount and current_variant_comp_price != blank %}
  <span class="additional-discount-product">
    <b>+{{ product.metafields.custom.additional_discount }}% off</b> at checkout
  </span>
{% endif %}