.page-width {
  width: 94% !important;
  margin: 0 auto;
  max-width: 1640px;
}

.fixed {
  position: fixed !important;
}

/* Icons */

.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 4px;
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}

.gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px;
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 30px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 40px;
  vertical-align: middle;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}

/* Header */

.header__heading-link.logo-contianer {
  padding: 0;
}

.header-top-user-options {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
}

@media screen and (min-width: 1125px) {
  .header-top-user-options {
    padding-left: 20px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 1124px) {
  .mobile-top-menu {
    display: block !important;
  }
  .desktop-top-menu {
    display: none;
  }
  .header__inline-menu {
    display: none !important;
  }
}

.header-top-user-options ul {
  text-align: right;
}
.header-top-user-options ul li {
  margin: 6px 0;
}

.header-option-account,
.header-option-cart {
  width: 15px;
}

.header-option-account img,
.header-option-cart img {
  width: 100%;
}

.header-option-cart.desktop-only img {
    margin-left: -5px;
    margin-right: 8px;
}

.cart-item-count.desktop-only {
  margin-top: 2px;
}

.cart-item-count.mobile-only {
  margin-top: -2px;
}

.menu-special-icon {
  max-width: 20px !important;
  height: auto !important;
  vertical-align: middle;
}

.menu-special-link {
  vertical-align: middle;
  margin-left: 5px;
}

ul.menu-type-2 li {
  margin-bottom: 10px;
}

ul.menu-type-2 li summary {
  font-weight: 400 !important;
}

ul.menu-type-2 li summary span img {
  margin-right: 6px;
}

ul.menu-type-2 li summary:after {
  display: none !important;
}

.brands-logo-contianer {
  width: 20%;
  text-align: center;
}

.grid_button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    color: #fff;
    background: #f77c27;
    padding: 12px 26px;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    transition: all .15s ease-in-out;
}
.grid_button:hover {
  background: #1a8acc;
}

.menu-style-button {
    border: 1px solid #F77C27;
    border-radius: 3px;
    padding: 8px 26px !important;
    transition: all .15s ease-in-out;
}
.menu-style-button:hover {
  background: #F77C27;
}
.menu-style-button:hover a {
  color: #fff !important;
}

.nav-item-no-icon {
  margin-left: 30px !important;
}

ul li.blue-link-style a {
  color: #1a8acc !important;
}

/* Slider */

@media screen and (min-width: 1080px ) {
    .slideshow__product-image {
      margin-left: 25px;
    }
}
@media screen and (min-width: 750px) {
    .slideshow__text-wrapper.banner__content {
      width: 80% !important;
    }
    .hide-desktop {
      display: none !important;
    }
}
@media screen and (max-width: 749px) {
    .hide-mobile {
      display: none !important;
    }
    body.tvs-theme .slideshow__controls {
        padding: 0 !important;
    }
    .slideshow__text.banner__box {
      justify-content: flex-start !important;
    }
    body.tvs-theme .banner__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: auto !important;
        padding: 4rem !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    body.tvs-theme .banner__buttons {
      margin-bottom: 0 !important;
    }
}

/* Featured Blog */

.featured-blog-section {
  padding: 30px 0;
}

/* Collection */

.collection-grid-main-content #ProductCountDesktop {
  display: none !important;
}

.collection-grid-main-content .facets__form {
    gap: 0;
}

.search-results-main-content .facets__form {
  align-items: center;
}

.facets__form h1.desktop_search_title {
    font-size: 25px;
    margin: 0 !important;
    padding: 0 !important;
    display: none;
}

.mobile_search_title {
  text-align: center;
}

#VendorFilter,
#ProductTypeFilter {
  margin-left: 15px;
}

.facet-filters__label.caption-large {
  display: none;
}

.facets__form {
  margin-bottom: 20px !important;
  padding: 20px 0;
}

@media screen and (min-width: 820px) {
  .facets__form h1.desktop_search_title {
      display: block;
  }
  .mobile_search_title {
      display: none;
  }
}

@media screen and (min-width: 1200px) {
  .facet-filters__label.caption-large {
    display: inline-block;
  }
}

.promotional-banner-image-mobile {
  margin-bottom: -6px;
  max-width: 100% !important;
  width: 100%;
}

.promotional-banner-container {
  min-height: auto !important
}

@media screen and (min-width: 860px) {
  .promotional-banner-image-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 860px) and (max-width: 1380px) {
  .promotional-banner-image {
    left: 38%;
    height: auto !important;
    top: 50%;
    transform: translateY(-50%);
  }
}
  .facets {
    display: block;
  }
  .show_filters {
      display: none;
  }
@media screen and (max-width: 767px) {
  .facets {
    display: none;
  }
  .facets__form,
  .facet-filters__field,
  .facet-filters {
    display: block !important;
    padding-left: 0 !important;
  }
  .facet-filters__field {
    margin-bottom: 10px;
  }
  #VendorFilter, #ProductTypeFilter {
    margin-left: 0;
  }
  .show_filters {
      text-align: center;
      display: block;
      margin: 0 0 15px 0;
      padding: 0;
      min-width: 132px;
      border: none;
      background: transparent;
  }
  .show_filters svg,
  .show_filters span {
      display: inline-block;
      vertical-align: middle;
  }
  .show_filters svg {
      width: 18px;
  }
  .show_filters span {
      width: calc(100% - 50px);
  }
}

.infinite.previous_button {
  text-align: center;
  margin: 30px 0 40px 0;
}
.infinite.next_button_wrapper {
  text-align: center;
}
.infinite.load-more {
  display: block;
}
.infinite.previous_button a,
.infinite.next_button {
  display: inline-block;
  text-decoration: none;
}
.infinite.load-more,
.infinite.previous_button a,
.infinite.next_button {
  margin: 0 auto;
  background: #f77c27;
  border: none;
  padding: 12px 26px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}
.infinite.previous_button a:hover,
.infinite.next_button:hover,
.infinite.load-more:hover {
  background: #1a8acc;
}

/* Product Page */

.product-thumbnails-new div {
  height: 70px;
  width: 70px;
  padding: 5px;
}
.product-thumbnails-new img {
  position: relative;
  height: 60px !important;
  width: auto !important;
  margin: 0 auto;
}

.product-main-image,
.product-thumbnails-new {
  display: inline-block;
  vertical-align: middle;
}
.product-main-image img#main-image {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 767px) {
  .product-main-image img#main-image {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .product-main-image img#main-image {
    height: auto;
    width: 100%;
  }
}

.product-main-image {
  width: calc(100% - 74px);
  padding-left: 10px;
}

.product-thumbnails-new {
  width: 70px;
}

.product_wishlist {
  position: absolute;
  right: 0;
  top: 0;
}

.product_wishlist .button-wishlist {
  width: 21px !important;
  height: 18px !important
}

#readMoreDesktop {
  display: none !important;
}
#readMoreMobile {
  display: inline !important;
}

@media screen and (min-width: 850px) {
  #readMoreDesktop {
    display: inline !important;
  }
  #readMoreMobile {
    display: none !important;
  }
}

/* Recipient form */

.recipient-form {
  /* (2.88[line-height] - 1.6rem) / 2 */
  --recipient-checkbox-margin-top: 0.64rem;

  display: block;
  position: relative;
  max-width: 44rem;
  margin-bottom: 2.5rem;
}

.recipient-form-field-label {
  margin: 0.6rem 0;
}

.recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between;
}

.recipient-checkbox {
  flex-grow: 1;
  font-size: 1.6rem;
  display: flex;
  word-break: break-word;
  align-items: flex-start;
  max-width: inherit;
  position: relative;
  cursor: pointer;
}

.no-js .recipient-checkbox {
  display: none;
}

.recipient-form > input[type='checkbox'] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: var(--recipient-checkbox-margin-top) 0;
  top: 0;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.recipient-fields__field {
  margin: 0 0 2rem 0;
}

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 3.5rem);
  overflow: hidden;
}

.recipient-checkbox > svg {
  margin-top: var(--recipient-checkbox-margin-top);
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.28rem;
  z-index: 5;
  top: 0.4rem;
}

.recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
  visibility: visible;
}

.js .recipient-fields {
  display: none;
}

.recipient-fields hr {
  margin: 1.6rem auto;
}

.recipient-form > input[type='checkbox']:checked ~ .recipient-fields {
  display: block;
  animation: animateMenuOpen var(--duration-default) ease;
}
.recipient-form > input[type='checkbox']:not(:checked, :disabled) ~ .recipient-fields,
.recipient-email-label {
  display: none;
}

.js .recipient-email-label.required,
.no-js .recipient-email-label.optional {
  display: inline;
}

.recipient-form ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: left;
}

.recipient-form ul a {
  display: inline;
}

.recipient-form .error-message::first-letter {
  text-transform: capitalize;
}

@media screen and (forced-colors: active) {
  .recipient-fields > hr {
    border-top: 0.1rem solid rgb(var(--color-background));
  }

  .recipient-checkbox > svg {
    background-color: inherit;
    border: 0.1rem solid rgb(var(--color-background));
  }

  .recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
    border: none;
  }
}

/* Slideshow with Cards / Hero Carousel */

.hero-carousel {
  position: relative;
}

.hero-carousel .hero-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.hero-carousel .hero-carousel-wrapper ul {
  display: flex;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
}

.hero-carousel .hero-carousel-item {
  min-width: calc(100% / 2.5);
  box-sizing: border-box;
  list-style: none;
}

.hero-carousel .hero-carousel-arrows {
  max-width: 1780px;
  width: 96%;
  position: absolute;
  top: calc(50% - 20px); /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-carousel .hero-carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 13px 15px;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #fff;
}

.hero-carousel .hero-carousel-arrow.disabled-arrow {
  background-color: transparent;
  color: #1a8acc;
  border: 1px solid #1a8acc;
}

.hero-carousel .hero-carousel-arrow-left {
  left: 3px;
}

.hero-carousel .hero-carousel-arrow-right {
  right: 3px;
}

.hero-carousel .hero-carousel-arrow .gg-chevron-right:after,
.hero-carousel .hero-carousel-arrow .gg-chevron-left:after {
  width: 14px;
  height: 14px;
  border-bottom: 1px solid;
}

.hero-carousel .hero-carousel-arrow .gg-chevron-right:after {
  border-right: 1px solid;
}

.hero-carousel .hero-carousel-arrow .gg-chevron-left:after {
  border-left: 1px solid;
}

.hero-carousel .hero-carousel-item-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.hero-carousel .hero-carousel-item-top {
  flex: 1;
  padding: 1.5rem 0.75rem 0 0.75rem;
}

.hero-carousel-item-top img {
  display: block;
  width: 100%;
  max-width: 100% !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.hero-carousel .hero-carousel-item-bottom {
  padding: 0 0.75rem 1.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  margin-top: -1px;
}

.hero-carousel .hero-carousel-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 3rem 4rem;
  color: #fff;
}

.hero-carousel-item-description.desktop {
  display: none;
}

.hero-carousel-item-description p {
  font-weight: 300;
  margin: 12px 0 24px 0;
  font-size: 16px;
}
  
.hero-carousel .hero-carousel-content .button {
  background: transparent;
  border: 1px solid #fff;
  margin-top: auto;
  min-height: 0;
  padding: 6px 12px;
  font-size: 15px;
}
.hero-carousel .hero-carousel-content .button:hover {
  background: transparent;
}

.hero-carousel-item-title {
  margin-bottom: 0 !important;
  color: #fff !important;
  font-size: 30px !important;
  font-weight: 500 !important;
}
.hero-carousel-bullets {
  text-align: center;
}
.hero-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #c9c9c9;
  display: inline-block !important;
  margin: 0 6px;
}

.hero-bullet.active-bullet {
  background: #f77c27;
  border: 3px solid #c9c9c9;
}

@media (max-width: 1400px) {
  .hero-carousel .hero-carousel-item {
    min-width: calc(100% / 2.7);
  }
}
  
@media (max-width: 1140px) {
  .hero-carousel .hero-carousel-item {
    min-width: 100%;
  }
  .hero-carousel .hero-carousel-arrows {
    display:none !important;
  }
  .hero-carousel-bullets {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .hero-carousel-item-description.desktop {
    display: block;
  }
  .hero-carousel-item-description.mobile {
    display: none;
  }
}

/* Promotional Carousel */

.promotional-carousel {
  position: relative;
}
.promotional-carousel .carousel-item-inner {
  position: relative;
}
.promotional-carousel .carousel-item-inner .carousel-discount {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 95.5px 0 0 95.5px;
  border-color: transparent;
  border-top-color: var(--gradient-base-accent-1);
  top: 0;
  right: 0;
  z-index: 2;
}
.promotional-carousel .carousel-item-inner .carousel-discount.coupon-discount {
  border-top-color: var(--gradient-base-accent-1);
}
.promotional-carousel .carousel-item-inner .carousel-discount.featured-discount {
  border-top-color: var(--gradient-base-accent-3);
}
.promotional-carousel .carousel-item-inner .carousel-discount span {
    position: absolute;
    color: #fff;
    font-weight: 700;
    transform: rotate(45deg);
    white-space: nowrap;
    font-size: 15px;
    text-align: center;
    line-height: .83333;
    display: block;
}
.promotional-carousel .carousel-item-inner .carousel-discount.coupon-discount span {
    top: -76px;
    right: 6px;
}
.promotional-carousel .carousel-item-inner .carousel-discount.featured-discount span {
    top: -64px;
    right: 5px;
}
.promotional-carousel-container {
    width: 100% !important;
    margin: 0 auto;
    max-width: 1640px;
    padding: 0 !important;
}
.promotional-carousel-title {
  padding: 0 20px;
}
.promotional-carousel .carousel-container {
  position: relative;
  width:96%;
  overflow: hidden;
  margin: 0 auto;
}

.promotional-carousel .carousel-wrapper ul {
  display: flex;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
}

.promotional-carousel .carousel-item {
  min-width: 50%;
  box-sizing: border-box;
  list-style: none;
}
  
.promotional-carousel .carousel-arrows {
  max-width: 1780px;
  width: 96%;
  position: absolute;
  top: calc(64% - 30px);
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.promotional-carousel .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1a8acc;
  color: white;
  padding: 13px 15px;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 6px;
}
  
.promotional-carousel .carousel-arrow.disabled-arrow {
  background-color: transparent;
  color: #1a8acc;
  border: 1px solid #1a8acc;
}

.promotional-carousel .carousel-arrow-left {
  left: 3px;
}

.promotional-carousel .carousel-arrow-right {
  right: 3px;
}

.promotional-carousel .carousel-arrow .gg-chevron-right:after,
.promotional-carousel .carousel-arrow .gg-chevron-left:after {
  width: 14px;
  height: 14px;
  border-bottom: 1px solid;
}
.promotional-carousel .carousel-arrow .gg-chevron-right,
.promotional-carousel .carousel-arrow .gg-chevron-left {
  height: 21px !important;
}
.promotional-carousel .carousel-arrow .gg-chevron-right:after {
  border-right: 1px solid;
}
  
.promotional-carousel .carousel-arrow .gg-chevron-left:after {
  border-left: 1px solid;
} 
.promotional-carousel .carousel-item-bottom {
  padding: 3rem;
  justify-content: start;
}
.promotional-carousel .carousel-item-bottom, .carousel-item-top {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
}
.promotional-carousel .carousel-item-top {
  justify-content: center;
}
.promotional-carousel .carousel-item-bottom .carousel-content {
  height: 100%;
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.promotional-carousel .carousel-item-bottom .carousel-content .button {
  margin-top: auto;
}

.promotional-carousel .promotional-additional-discount {
  background: #1a8acc;
  display: block;
  width: 320px;
  height: 19px;
  position: absolute;
  top: -54px;
  left: -217px;
  transform: rotate(45deg);
  text-align: center;
  color: #fff;
  font-size: 13px;
}

@media (min-width: 1141px) and (max-width: 1830px) {
  .promotional-carousel .carousel-container {
    width: 89%;
  }
}
@media (max-width: 1140px) {
  .promotional-carousel .carousel-item {
    min-width: 100%;
    padding: 18px;
  }
  .promotional-carousel .carousel-arrows {
    position:relative;
    margin-top: 25px;
    width: 125px;
  }
}

.hero-carousel-arrow.enabled-arrow {
  display: block !important;
}

/* Featured Collection */

.featured-collection-index .grid__item:nth-last-child(-n+15) {
    display: none;
}
.show-more-container {
  text-align:center;
  margin-bottom: 60px;
}
.show-more {
  margin: 0 auto;
}

/* Customer */

.customer .field input + label  {
  letter-spacing: initial;
}

/* 404 */
.main-404 {
  padding: 50px 0 105px 0;
}
.main-404 h1 {
  margin-bottom: 0 !important;
  line-height: 1em !important;
  font-size: 55px;
}
.main-404 p {
  margin: 2rem 0;
  padding: 0;
  font-size: 20px;
}

/* Policy Pages */

.shopify-policy__title {
  text-align: left;
}

.shopify-policy__body h2 {
  font-size: 24px !important;
}

/* Single Image Banner */

.single-image-banner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* Cart Drawer */
/*
.cart__note,
textarea#CartDrawer-Note {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  overflow: hidden !important;
}
*/
.paper_checkbox {
  padding: 0 0 1.5rem 0;
}
#paperCheckbox,
#paperCheckbox + label {
  display: inline-block;
  vertical-align: middle;
}
#paperCheckbox {
  max-width: 20px;
  margin: 0;
}
#paperCheckbox + label {
  width: calc(100% - 20px);
  padding-left: 10px;
}

#Details-CartDrawer {
  border-top: .1rem solid rgba(0, 0, 0, .2);
  margin-top: 0 !important;
}

textarea#CustomCartNote {
  padding: 1rem 1.3rem;
  box-shadow: 0 0 0 1px #000;
  box-sizing: border-box;
  overflow: auto;
  font-family: Figtree, sans-serif;
}
textarea#CustomCartNote::placeholder {
  color: #a1a1a1 !important;
  opacity: 1 !important;
  visibility: visible !important;
}
textarea#CustomCartNote:focus {
  border:1px solid #000;
}

@media (min-width: 768px) {
  .quick-add {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }
}
@media (max-width: 435px) {
  .quick-add {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  .product-card-wrapper .price {
    text-align: center !important;
  }
  .product-card-wrapper .card__information {
    padding: 0 10px !important;
  }
  .quick-add-modal__content .product__info-container {
      padding-top: 10px;
      display: block;
  }
}
.quick-add {
    position: absolute !important;
    grid-row-start: 4;
    margin: 0;
    z-index: 1;
    bottom: 6px;
    width: 80%;
    max-width: 170px;
}
.quick-add__submit {
  min-height: 0;
}
.quick-add__submit,
.quick-add__submit span {
  color: #fff;
  text-wrap: nowrap;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.quick-add__submit.card_variant_options {
  background-color: #1a8acc !important;
  text-decoration: none !important;
}

.quick-add-modal__content .product__title h1,
.quick-add-modal__content .product-title-mobile {
  display: block !important;
  font-size: 28px !important;
  padding-right: 32px !important;
}

.quick-add-modal__content .product-accordion-group,
.quick-add-modal__content .product-header,
.quick-add-modal__content .product__subtitle {
  display:none !important;
}
.quick-add-modal__content .product-subtitle-mobile {
    display: inline !important;
}
.quick-add-modal__content .product_main-image {
  margin-top: 15px;
}
.quick-add-modal__content .product__barcode,
.quick-add-modal__content .product__sku,
.quick-add-modal__content .product_wishlist,
.quick-add-modal__content .card__wishlist {
    display: none !important;
}

.quick-add-modal__content .product-form__submit {
  color: #fff;
}

@media (min-width: 750px) {
  .quick-add-modal__content .product-subtitle-mobile {
    display:none !important;
  }
}


.product-thumbnails-new {
  max-height: 490px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.product-thumbnails-new::-webkit-scrollbar {
  display: none;
}

.product-thumbnails-wrapper {
  width: 70px;
  height: 100%;
  max-height: 547px;
  display: inline-block;
}

.scroll-arrow.scroll-arrow-down {
  position: absolute;
  bottom: 0;
  left: 0;
}

.scroll-arrow {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: 0;
    margin-left: 17px;
}

.product-grid wishlist-button-collection {
  position: absolute !important;
  top: 0;
  right:0;
  z-index: 2;
}

.product-media-container wishlist-button-block {
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    top: -20px;
}
.wk-button.wk-selected {
  --icon-fill: #f77c27 !important;
}
.wk-button.wk-selected .wk-icon {
  --stroke:  #f77c27 !important;
}
.wk-button .wk-icon {
  --stroke:  #8d8d8d !important;
}
wishlist-page .wk-header {
  display: none !important;
}
wishlist-page .wk-page {
    max-width: 100% !important;
    padding: 15px 0 !important;
}
wishlist-product-card {
    background-color: #fff;
    box-shadow: #63636333 0 2px 8px;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    transition: all .15s ease-in-out;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 20px;
}

wishlist-product-card .wk-product-title {
  font-size: 18px;
  color: #000;
  font-family: Figtree, sans-serif !important;
  line-height: 1.25;
  font-weight: 700;
  padding: 15px 0;
}

wishlist-product-card .wk-price {
  font-weight: 700 !important;
  font-size: 16px !important;
}

wishlist-product-card .wk-compare-price {
  color: #1a8acc !important;
}

wishlist-product-card .wk-form {
  width: 80%;
  max-width: 170px;
  margin: 16px auto 0 auto !important;
}

wk-option-select .wk-control {
  min-height: 34px !important;
  border-radius: 3px !important;
  border-color: #cfcfcf !important;
}

wishlist-product-card .wk-cta-button {
  background-color: #f77c27 !important;
  border-radius: 3px !important;
  border: none !important;
  min-height: 34px !important;
}

wishlist-product-card .wk-image {
  object-fit: contain !important;
}

.special_icons {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

/* Newsletter Modal */

.newsletter-modal {
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background: transparent;
  z-index: 15;
}

.newsletter-modal-open {
  background: var(--gradient-base-accent-1);
  cursor: pointer;
  border: none;
  padding: 0;
}
.newsletter-modal-open .gg-close {
  width: 25px;
  margin-left: 7px;
}
.newsletter-modal-open .gg-close:after, .newsletter-modal-open .gg-close:before {
    width: 20px;
}

#close_nl_modal {
  cursor: pointer;
}

.newsletter-modal-open h3 {
  margin-bottom:0 !important;
  color: #fff !important;
  font-weight: 400 !important;
  padding: 10px 20px !important;
  font-size: 15px !important;
}

.newsletter-modal-box {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: stretch;
}
.newsletter-modal .newsletter-modal-left img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  max-width: 200px;
  height: auto;
  width: 100%;
}
.newsletter-modal .newsletter-modal-left {
  display: none;
}
.newsletter-modal .newsletter-modal-right {
  border-radius: 6px;
  flex-direction: column;
  padding: 5rem 4rem;
  justify-content: center;
  text-align: center;
  background: var(--gradient-base-accent-2);
  color: #fff;
  max-width: 500px;
  display: flex;
  position: relative;
}
.newsletter-modal .newsletter-modal-right span#close_nl_modal {
  position: absolute;
  top: 14px;
  right: 14px;
}
.newsletter-modal .newsletter-modal-right h3 {
  color: #fff;
  margin: 0;
  font-size: 32px;
}

.newsletter-modal-right form {
  display: flex;
  flex-direction: column;
}
.newsletter-modal-right form label {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 600;
}
.newsletter-modal-right form input {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #fff;
  font-size: 17px;
}
.newsletter-modal-right form input:focus-visible {
  outline: none;
  box-shadow: 0 0 .5rem .4rem rgba(var(--color-foreground), 0.1);
}
.newsletter-modal-right button {
  padding: 12px 30px;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: calc(100% - 4px);
  margin-left: 2px;
}
.newsletter-modal-right form button#signup {
  background: var(--gradient-base-accent-1);
  border: 1px solid var(--gradient-base-accent-1);
}
.newsletter-modal-right #no-thanks {
  background: transparent;
  border: 1px solid #fff;
  max-width: 186px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

span.newsletter-disclaimer {
    font-size: 12px;
    margin-top: 16px;
    display: block;
}

@media (min-width: 730px) {
  .newsletter-modal {
    bottom: 25px;
    left: 25px;
    right: auto;
  }
  .newsletter-modal-box {
    flex-direction: row;
  }
  .newsletter-modal .newsletter-modal-left {
    display: flex;
  }
  .newsletter-modal .newsletter-modal-right {
    padding: 5rem 8rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .newsletter-modal-open h3 {
    font-size: 18px !important;
  }
}

@media (min-width: 490px) {
  .newsletter-modal-right #no-thanks {
    max-width: 100%;
  }
}

/* Policies */

.shipping_alert {
  margin: 40px auto 0 auto;
  max-width: 920px;
  width: 92%;
  background: #ffeee2;
  border: 1px solid #f77c27;
  padding: 20px;
  border-radius: 10px;
}

body.tvs-theme .shipping_alert h2 {
  font-size: 22px;
}
body.tvs-theme .shopify-policy__container {
    overflow-x: scroll;
}